.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.flex-row-space-between {
    @extend .flex-row-center;
    justify-content: space-between;
}

.editable-row {
    cursor: pointer;
}