.todo-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #fafafa;
    height: 100%;

    .todo-list {
        height: 100%;
    }
}